body {
  width: max-content;
  margin: 0;
  font-size: 1rem;
  user-select: none;
  background-color: #111;
  color: white;
}

button {
  width: 100%;
}

input[type="color"] {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;

}

.popup-title {
  font-weight: 700;
  background-color: #204;
  color: lightyellow;
  width: 100%;
  padding: 6px 0;
  margin: 0;
  text-align: center;
}

.popup-content {
  font-family: monospace;
  padding: 5px;
}

p {
  text-align: center;
  padding: 10px 0 0;
  margin: 0;
}

.checkbox-container {
  margin: 12px 6px 6px;
  padding: 6px auto;
}

.checkbox-container>label{
  text-align: center;
  padding: 0;
  margin: 0;
}

.checkbox-container>label:hover {
  cursor: pointer;
}

input:hover{
  cursor: pointer;
}

#enable {
  padding-top: 5px;
}

select {
  height: 30px;
}

.selectMenu{
  margin: 12px 0;
}
